.data{
    margin-top: 1%;
}

.table-form{
    width: 100%;
    /*text-align: center;*/
}

#gallery .thumbnail{
    width:150px;
    height: 150px;
    float:left;
    margin:2px;
}
#gallery .thumbnail img{
    width:150px;
    height: 150px;
}