<table class="table-bordered table-hover table-form">
    <tbody class="text-opisanie" ng-repeat='data in dataext'>

    <tr ng-if='extendcomment(id, data.id)'>
        {{id}}
        <td>
            {{data.id}}<img src="" alt="Фото"> {{data.name}} {{data.date}}<br>
            {{data.text}}<br>
            <a href data-toggle="modal" data-target="#myModal" ng-click="extendid(data.id)">Комментировать</a>
            <!--Sub comment start-->
            <div class="extend" style="margin-left:{{indentation + 5}}%"  ng-if="extend(data.extended)">
                <comment-extend id='{{data.id}}'></comment-extend>
            </div>
            <!--Sub comment stop-->
        </td>
    </tr>
    </tbody>
</table>