<div class="container data" ng-controller="tableCtrl">
    <form class="form-inline col-md-4">
        <div class="form-group">
            <label >Поиск</label><br>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <div class="form-group col-md-4">
        <label>Сортировка по столбцам</label>
        <select ng-click="SwitchFuction(column_placement.selected)" class="form-control" ng-model="column_placement.selected" ng-options="o as o for o in column_placement.options"></select>
    </div>

    <div class="form-group col-md-4">
        <label>Тип сортировки</label>
        <select ng-click="SwitchType(type_placement.selected)" class="form-control" ng-model="type_placement.selected" ng-options="o as o for o in type_placement.options"></select>
    </div>
    <br>
    <table class="table-bordered table-hover table-form">
        <tbody class="text-opisanie" dir-paginate='form_data in data |filter:search|itemsPerPage:pagination_size|orderBy:column:type'>
        <tr>
            <td>
                {{form_data.id}}<img src="" alt="Фото"> {{form_data.name}} {{form_data.date}}<br>
                {{form_data.text}}<br>
                <a href data-toggle="modal" data-target="#myModal" ng-click="extendid(form_data.id)">Комментировать</a>
                <!--Sub comment start-->
                <div class="extend" style='margin-left:{{(indentation + 5) + "%"}}'  ng-if='extend(form_data.extended)'>
                    dfjhskdfhk
                    <comment-extend id='{{form_data.id}}'></comment-extend>
                </div>
                <!--Sub comment stop-->
            </td>
        </tr>
        </tbody>
    </table>
    <!--Modal start-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Название модали</h4>
                </div>
                <div class="modal-body">
                    <comment-modal></comment-modal>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal stop-->
    <dir-pagination-controls
            max-size='pagination_size'
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</div>