<div class="container" ng-controller="FormCtrl">
<form id="signup" role="form">
    <div class="form-group">
        <label for="exampleInputName">User Name</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="User Name" ng-model="name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" ng-model="email" required>
    </div>
    <div class="form-group">
        <label for="exampleInputUrl">Homepage</label>
        <input type="url" class="form-control" id="exampleInputUrl" name="url" placeholder="Enter address" ng-model="url">
    </div>
    <div class="form-group">
        <label for="exampleInputText">Text</label>
        <textarea class="form-control" rows="3" id="exampleInputText" ng-model="text" required></textarea>
    </div>
    <div class="form-group">
        <input type="file" id="fileinput" multiple="multiple" accept="image/jpeg,image/png,image/gif" />
        <div id="gallery"></div>
    </div>
    <button type="submit" id="submit" class="btn btn-default" ng-click="send_mail()">Отправить</button>
</form>

</div>


