<div class="container data" ng-controller="tableCtrl">

    <h1>Результат</h1><br>

    <form class="form-inline col-md-4">
        <div class="form-group">
            <label >Поиск</label><br>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <div class="form-group col-md-4">
        <label>Сортировка по столбцам</label>
        <select ng-click="SwitchFuction(column_placement.selected)" class="form-control" ng-model="column_placement.selected" ng-options="o as o for o in column_placement.options"></select>
    </div>

    <div class="form-group col-md-4">
        <label>Тип сортировки</label>
        <select ng-click="SwitchType(type_placement.selected)" class="form-control" ng-model="type_placement.selected" ng-options="o as o for o in type_placement.options"></select>
    </div>
    <br>

    <table class="table-bordered table-hover table-form">
        <tbody>
        <tr class="head-table">
            <td>#</td>
            <td>
                <span>User Name</span><br>
            </td>
            <td>
                <span>e-mail</span><br>
            </td>
            <td>
                <span>Date</span><br>
            </td>
        </tr>
        </tbody>
        <tbody class="text-opisanie" dir-paginate='form_data in data |filter:search|itemsPerPage:pagination_size|orderBy:column:type'>
        <tr>
            <td>{{$index+1}}</td>
            <td>{{form_data.name}}</td>
            <td>{{form_data.email}}</td>
            <td>{{form_data.date}}</td>
        </tr>
        </tbody>
        </table>
        <dir-pagination-controls
                max-size='pagination_size'
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>
    </div>